<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>enter the artists playlists</title>
</head>
<body>
  <datalist id="playlistLs">
    {% for playlist in playlistLs %}
      <option value="{{ playlist }}">
    {% endfor %}
  </datalist>
  <form action="playlistValidate" method="post" class="form-example" id="playlistValidate" onkeydown="return event.key != 'Enter';">
    <table>
      <thead>
          <tr>
              <th colspan="3">Please enter zero, one or more playlist for each artist</th>
          </tr>
      </thead>
      <tbody>
    {% for artist in artistLs %}
      <tr>
        <td>
          <button type="button" class="playlistButton" id="addplaylistbutton" data-artistname="{{ artist['name'] }}" title="Add a playlist">+</button>
        </td>
        <td>
          <button type="button" class="playlistButton" id="removeplaylistbutton" title="Remove empty playlist inputs">-</button>
        </td>
        <td>
          <label class="artist">
            {% if artist['url'] != "" %}
              <a href="{{ artist['url'] }}" title="{{ artist['genreDisplay'] }}">{{ artist["name"] }}</a>
            {% else %}
              <div title="{{ artist['genreDisplay'] }}">{{ artist["name"] }}</div>
            {% endif %}
          </label>
        </td>
        {% if artist["playlists"]|length > 0 %}
          {% for playlist in artist["playlists"] %}
            <td>
              <input type="text" list="playlistLs" form="playlistValidate" class="playlistInput" value="{{ playlist['name'] }}" name="{{ artist['name'] }}"></input>
            </td>
          {% endfor %}
        {% else %}
          <td>
            <input type="text" list="playlistLs" form="playlistValidate" class="playlistInput" name="{{ artist['name'] }}"></input>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
      </tbody>
    </table>
    <button type="submit" id="gobutton" value="go">GO</button>
  </form>
</body>

<style>
</style>


<script>
function refreshPlaylistOptions() {
  let newPlaylistList = Array.from(
      new Set(
        Array.from(
          document.querySelectorAll(".playlistInput"))
            .map(function (elem) {
              return elem.value
            })
      )
    ).filter(function(elem) {
      if (elem.match(/^\s*$/)) {
        return false
      } else {
        return true
      }
    })
    newPlaylistList.sort()
    let datalist = document.getElementById("playlistLs")

    while (datalist.firstChild) {
      datalist.removeChild(datalist.firstChild);
    }

    for (let playlistElem of newPlaylistList) {
      let newOption = document.createElement("option")
      newOption.value = playlistElem
      datalist.appendChild(newOption)
    }
}

for (let elem of document.querySelectorAll(".playlistInput")) {
  elem.addEventListener("change", function(event) {
    refreshPlaylistOptions()
  }, false);
}

for (let elem of document.querySelectorAll("#addplaylistbutton")) {
  elem.addEventListener("click", function(event) {
    event.preventDefault()
    let newinput = document.createElement("input");
    newinput.type = "text"
    newinput.setAttribute("list", "playlistLs")
    newinput.setAttribute("form", "playlistValidate")
    newinput.setAttribute("class", "playlistInput")
    newinput.name = event.target.getAttribute("data-artistname");
    newinput.addEventListener("change", function(event) {
      refreshPlaylistOptions()
    }, false);
    let newtd = document.createElement("td");
    newtd.appendChild(newinput)
    event.target.parentNode.parentNode.appendChild(newtd);
  }, false);
}


for (let elem of document.querySelectorAll("#removeplaylistbutton")) {
  elem.addEventListener("click", function(event) {
    event.preventDefault()
    for (let input of event.target.parentNode.parentNode.querySelectorAll("input.playlistInput")) {
      if (input.value.match(/^\s*$/)) {
        input.parentNode.remove();
      }
    }
  }, false);
}
</script>
</html>